<div class="py-4">
    <div class="text-center">
        <h6 class="font-bold title">{{data.profesion.title}}</h6>
        <h5 class="subtitle">{{data.profesion.description}}</h5>
    </div>
    
    
    <a href="#home">
        <div class="img_box py-3 my-4" title="Balderrama Rocha Jhossymar">
            <div class="img_effect">
                <div class="img_profile"></div>
            </div>    
        </div>
    </a>
    
    <div class="text-center">
        <h6 class="subtitle">{{data.first_name}}</h6>    
        <h6 class="subtitle">{{data.last_name}}</h6>
    </div>
</div>