<div class="row">
    <!-- Btns changes theme dark or light -->
    <!-- <div class="col-6 theme">
        <i *ngIf="themeDark" class="fa-solid fa-sun cursor-pointer" style="cursor: pointer;" (click)="changeTheme()" title="change theme"></i>
        <i *ngIf="!themeDark" class="fa-solid fa-moon"  style="cursor: pointer; color: var(--color-txt-light);" (click)="changeTheme()" title="change theme"></i>
    </div> -->
    
    <div class="col-6 box">
        <div class="item" title="Spanish" (click)="selectlanguaje('es')">
            <img id="es" src="../../../../../assets/img/languajes/es.webp" height="100%" width="auto">        
        </div>
        <div  class="item" title="English" (click)="selectlanguaje('en')">
            <img id="en" src="../../../../../assets/img/languajes/uk.webp" height="100%" width="auto">        
        </div>
    </div>
</div>