<div class="box">
    <div  class="item" title="English" (click)="selectlanguaje('en')">
        <img id="en" src="../../../../../assets/img/languajes/uk.png" height="100%" width="auto">        
    </div>
    <div class="item" title="Spanish" (click)="selectlanguaje('es')">
        <img id="es" src="../../../../../assets/img/languajes/es.png" height="100%" width="auto">        
    </div>
    <div class="item" title="Portugues" (click)="selectlanguaje('br')">
        <img id="br" src="../../../../../assets/img/languajes/br.png" height="100%" width="auto">        
    </div>
</div>
