.container{    
    top: 0;
    left: 0;
    margin: 0;

    font-family: var(--font-txt-df);
}

.header{
    min-height: 35vh;
    max-height: 35vh;
}


.body{
    min-height: 59.5vh;
    max-height: 59.5vh; 
}

.footer{
    min-height: 2vh;
    max-height: 2vh; 
} 

/* Desktop */
@media screen and (min-width: 1024px) {
    
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {

}

/* Smartphone */
@media screen and (max-width: 767px) {

}
