<div class="languajes" align="right">
  <p class="text-languajes">
    <a id="en" title="English" (click)="selectlanguaje('en')">EN</a> 
    / 
    <a id="es" title="Español" (click)="selectlanguaje('es')">ES</a>
    
  </p>
</div>
<div class="title" align="center">
  <p class="font-style texto-escritura content" style="font-size: 1.8vh">
    <a *ngIf="this.auth.languajeSelect == 'es'">{{data.es.title}}</a>
    <a *ngIf="this.auth.languajeSelect == 'en'">{{data.en.title}}</a>
  </p>
</div>

<div class="container" align="center">
  <a href="#home">
    <div class="cuadro">
      <div class="img">
        <img src="../../../../assets/img/perfil.png" />
      </div>
    </div>
  </a>
  <p class="content" style="font-size: 1.7vh">
    <a *ngIf="this.auth.languajeSelect == 'es'">{{data.es.lastName}}</a>
    <a *ngIf="this.auth.languajeSelect == 'en'">{{data.en.lastName}}</a>
  </p>
  <p class="content" style="font-size: 1.7vh">
    <a *ngIf="this.auth.languajeSelect == 'es'">{{data.es.firstName}}</a>
    <a *ngIf="this.auth.languajeSelect == 'en'">{{data.en.firstName}}</a>
  </p>
  <p class="font-style texto-escritura" style="font-size: 1.6vh">
    <a *ngIf="this.auth.languajeSelect == 'es'">{{data.es.description}}</a>
    <a *ngIf="this.auth.languajeSelect == 'en'">{{data.en.description}}</a>
  </p>
</div>

<!-- <div class="logo text-light">
    <h4>BlackDev.</h4>
</div> -->
