<app-languajes></app-languajes>

<article id="box-profile" *ngIf="auth.languajeSelect == 'es' ? changeLanguaje() : changeLanguaje()" class="pt-1">
  <div class="title" align="center">
    <p class="font-style texto-escritura content" style="font-size: 1.8vh;">
      <!-- <a>{{data.title}}</a> -->
      <a>{{data.description}}</a>
    </p>
    <p class=" texto-escritura content" style="font-size: 1.5vh;">
      <!-- <a>{{data.title}}</a> -->
      <a>{{data.descriptionStack}}</a>
    </p>
    
  </div>

  <div class="container" align="center">
    <a href="#home">
      <div class="box-img">
        <div class="efect-img">
          <div class="imgProfile"></div>
        </div>
      </div>
    </a>
    <p class="content pt-3" style="font-size: 1.7vh;">
      <a>{{data.firstName}}</a>
    </p>
    <p class="content" style="font-size: 1.7vh">
      <a>{{data.lastName}}</a>
    </p>
    <!-- <p class="font-style texto-escritura" style="font-size: 1.6vh">
      <a>{{data.description}}</a>
    </p> -->
  </div>
</article>