<app-languajes></app-languajes>

<article id="box-profile" *ngIf="auth.languajeSelect == 'es' ? changeLanguaje() : changeLanguaje()">
  <div class="title" align="center">
    <p class="font-style texto-escritura content" style="font-size: 1.8vh">
      <a>{{data.title}}</a>
    </p>
  </div>

  <div class="container" align="center">
    <a href="#home">
      <div class="box-img">
        <div class="efect-img">
          <div class="imgProfile"></div>
        </div>
      </div>
    </a>
    <p class="content" style="font-size: 1.7vh; padding-top: 10px;">
      <a>{{data.firstName}}</a>
    </p>
    <p class="content" style="font-size: 1.7vh">
      <a>{{data.lastName}}</a>
    </p>
    <p class="font-style texto-escritura" style="font-size: 1.6vh">
      <a>{{data.description}}</a>
    </p>
  </div>
</article>