* {
    font-family: var(--font-txt-df-bold);
    color: var(--color-txt-light);
}

.font-style {
    color: var(--color-txt-hover);
    text-shadow: 1px 1px 10px var(--color-txt-hover);
}

p {
    margin: 0;
    letter-spacing: 1px;
}

.box-img {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    overflow: hidden;

    position: relative;
    display: flex;
    border-radius: 50%;
    /* background-color: black; */
    background-color: transparent;
}

.efect-img {
    z-index: 2;
    transform: scale(1);
}

.efect-img:hover {
    transition: all .5s;
    transform: scale(0.95);     
}

.efect-img:not(:hover) {
    transition: all .5s;
    transform: scale(1.1);
}


.efect-img .imgProfile {
    /* background: 
    linear-gradient(to bottom, #00000000, #0000002a, #00000071,#000000),
     var(--bg-img-profile); */
     background: var(--bg-img-profile);
     mask-image: linear-gradient(
        black 60%,
        transparent   
    );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 12vw;    
    height: 13vw;        
}

@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.texto-escritura {
    white-space: nowrap;
    overflow: hidden;
    animation: escribiendo 2.5s steps(30);
}

@keyframes escribiendo {

    0%,
    40% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .cuadro {
        border-radius: 100%;
        width: 22vh;
        height: 25vh;
        padding-top: 2vh;
        overflow: hidden;

        position: relative;
        display: flex;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cuadro {
        border-radius: 100%;
        width: 22vh;
        height: 25vh;
        padding-top: 10px;
        overflow: hidden;

        position: relative;
        display: flex;
    }
}

@media screen and (max-width: 767px) {}

.title {
    padding-top: 1.5vh;
}