<div id="particles-home"></div>

<!-- ? Badges -->
<span class="z-20 absolute right-2 top-20 sm:right-4 sm:top-16 lg:right-6 lg:top-4 flex flex-row gap-3">
  <div *ngFor="let badge of badges" class="badge">
    <a [href]="badge.url_doc" target="_blank" [title]="badge.title">
      <img [src]=badge.img height="100%" width="auto">
    </a>
  </div>
</span>

<section class="container grid grid-cols-2 gap-4 place-content-center ">
  <article class="px-2 md:px-0 flex flex-col gap-4 md:gap-2">    
    <span class="subtitle text-4xl md:text-lg lg:text-5xl 2xl:text-6xl">
      {{ data.title_head }}
    </span>

    <p class="title text-5xl md:text-5xl lg:text-7xl 2xl:text-8xl">
      <span class="txt-blue text-4xl md:text-5xl lg:text-7xl 2xl:text-8xl">{{chartOpen}}</span>      
      {{ data.title[0] }}
      <span class="txt-blue text-4xl md:text-5xl lg:text-7xl 2xl:text-8xl">{{chartClose}}</span>      
    </p>      
    
    <div class="description text-md md:text-md lg:text-lg 2xl:text-2xl">
      <div class="parrafo-principal" [innerHTML]="data.title_paragraph">
        {{data.title_paragraph}}
      </div>
    </div>    

    <div class="flex flex-row justify-center py-4">
      <button title="contact" class="def-button rounded-sm">
        <a href="#contact" title="contáctame">
          {{ data.btn }}
        </a>
      </button>
    </div>
  </article>
  
  <div class="absolute inset-x-0 bottom-4 flex justify-center">
    <a href="#about" class="flex flex-col  animate-bounce cursor-pointer ">
      <span>{{data.btn_about}}</span>
      <i class="fa-solid fa-angles-down text-sm md:text-md lg:text-md 2xl:text-lg"></i>
    </a>
  </div>
</section>