*{
    /* text-shadow: var(--txt-shadow-titles); */
    /* text-shadow: -5px 5px 8px #015fcac7;  */
    font-family: var(--font-txt-df);
}

#particles-home {    
    position: absolute;
    left: 0;    
    width: 100%;
    height: 100%;
    opacity: 20%;         
}

.text-about-me{
    transition: 0.3s ease all;
    color: var(--color-txt-hover);
    transform: scale(1.2);
    animation: none;
}

.container {
    position: relative;        
}

section {
    width: auto;    
    height: 100vh;
    display: flex;    
    justify-content: center;
    align-items: center;
    text-align: center;
}

hr {
    border: 0.1px solid var(--color-txt-hover-2);   
}


.title {    
    display: block;
    color: #f3f3f3;
    font-weight: bolder;
    white-space: nowrap;
    border-right: 14px solid var(--txt-color-blue);    
    margin: auto auto;
    width: 24ch;    
    overflow: hidden;    
    animation: typing 2s steps(24), blink 0.5s infinite step-end alternate;
    letter-spacing: 3px;    
    text-shadow: -1px 1px 8px #6f9bce52;    
}

.parrafo-principal{    
    display: flex;
    flex-wrap: 1;
    margin: 1% 10% 1% 10%;    
    letter-spacing: 1px;
    text-shadow: -1px 1px 8px #6f9bce52;
    color: #3281f8;
}

.subtitle{
    font-weight: bolder;
    text-shadow: -1px 1px 8px #6f9bce52;
    color: #e7e7e7;
    letter-spacing: 6px;    
    margin-bottom: 15px;
}

.description{
    min-width: 100vw;
    display: flex;
    justify-content: center;    
}


/* .description{
    font-size: 2vw;    
    letter-spacing: 6px;
    font-style: italic;
    text-shadow: -1px 1px 8px #8bc1ffc7;
    color: #e7e7e7;
} */




img{
    /* width: 8vw;     */
    width: 7.5vw;
    filter: drop-shadow(1px 1px 25px #66a5ecc7);
}

.badge:hover{
    transform: scale(1.1) !important;
    transition: 0.3s ease all;
}

.badge:not(:hover){
    transition: 0.5s ease all;
}


@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 24ch;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* ? Smartphone */
@media screen and (max-width: 767px) {
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 4px solid;                     
        animation:  blink 0.5s infinite step-end alternate;
        white-space: normal;
        width: auto; 
        letter-spacing: 5px;
        word-wrap: break-word;                       
    }
    

    .subtitle{
        letter-spacing: 1px;        
    }
    
    .parrafo-principal{    
        display: block;        
    }       
    
    img{
        width: 14vw;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .parrafo-principal{    
        display: block;        
    }

    img{
        width: 8vw;
    }
    
}