<div class="row" *ngIf="auth.languajeSelect ? changeLanguaje() : changeLanguaje()">
  <div class="col-12 col-md-4" data-aos="fade-up" data-aos-duration="1000">
    <div class="box-img">
      <div class="efect-img">
        <div class="imgProfile"></div>
      </div>
    </div>

    <div class="box-info">
      <p>{{ data.firstName }}</p>
      <p>{{ data.lastName }}</p>
      <p style="color: var(--color-txt-hover);">
        <a>{{ data.profesion }}</a>
      </p>
    </div>

    <div class="box-btn">
      <button title="CV Balderrama Rocha Jhossymar">
        <a class="fw-bold" href="../../../../assets/documentos/CV Balderrama Rocha Jhossymar.pdf" target="_blank">{{ data.btn }}</a>
      </button>
    </div>
  </div>

  <div class="col-12 col-md-8">
    <div 
    *ngFor="let description of data.description"
    class="box-description w-100" data-aos="fade-up" data-aos-duration="2000" >
      <p><a [innerHTML]="description">{{ description }}</a></p>
    </div>

    <div class="row" data-aos="fade-up" data-aos-duration="2000">
      <div class="col-12 col-md-6">
        <p>
          <a>
            <!-- height 1.2vw -->
            <i class="fa-brands fa-whatsapp"></i>
          </a>
          <a class="px-2" target="_blank" href="https://bit.ly/WhatsappBalderramaRochaJhossymar">{{ data.phone }}</a>
        </p>
        <p>
          <a>
            <i class="fa-solid fa-envelope"></i>
          </a>
          <a class="px-2">{{ data.email }}</a>
        </p>
      </div>
      <div class="col-12 col-md-6">
        <p>
          <a>
            <i class="fa-solid fa-user-tie"></i>
          </a>
          <a class="px-2">{{ data.lastName + ' ' + data.firstName }}</a>
        </p>
        <p>
          <a>
            <i class="fa-solid fa-map-location-dot"></i>
          </a>
          <a class="px-2">{{ data.location }}</a>
        </p>
      </div>
    </div>

    <div class="box-motto row mb-2" data-aos="fade-up" data-aos-duration="2000">
      <p class="description">
        <a>{{ data.phrase }}</a>
      </p>
    </div>

    <app-section-footer></app-section-footer>
  </div>
</div>