<div class="container">
  <div class="row">
    <!-- <div
      class="col-12 col-md-6"
      align="center"
      style="        
        border-radius: 10px;
      " data-aos="fade-up" data-aos-duration="5000"
    >
      <div class="perfil-style">
        <div class="cuadro">
          <div class="img">
            <img src="../../../../assets/img/perfil.png" />
          </div>
        </div>
        <p class="h3">BALDERRAMA ROCHA</p>
        <p class="h3">JHOSSYMAR</p>
        <p class="h4">Full Stack Developer</p>
        <button>
          <span>Download CV</span>
        </button>
      </div>
    </div> -->

    <div class="col-12 col-md-6"  data-aos="fade-up" data-aos-duration="5000">
      <div class="row p-3">
        <p class="h4">
          Born in 2000, AB type living in USA. We provide on-screen design for
          websites and apps, as well as front-end implementation. We will
          continue to pursue a wide range of expressions and better code by
          pursuing our “likes”.
        </p>
      </div>

      <div class="row p-3" align="center">
        <div class="col-6">
          <p>+123 45 666 7788</p>
          <p>lilonesigner@gmail.com</p>
        </div>
        <div class="col-6">
          <p>Lilon Macwan</p>
          <p>California, USA</p>
        </div>
      </div>

      <div class="row p-3">
        <p class="h5">
          Hello there! My name is Lilon Macwan. I am a web designer & developer,
          and I'm very passionate and dedicated to my work.
        </p>
        <p class="h5">
          With 10+ years experience as a professional designer, I have acquired
          the skills to make your project a success.
        </p>
      </div>

      <div class="box-description row p-3 m-1">
        <p class="h5">
          “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus sed
          sit ultrices et sed metus sollicitudin.”
        </p>
      </div>
    </div>
  </div>
</div>
