.grup-social{
    position: relative;
    min-width: 100%;
    max-width: 100%;
    bottom: 0vh;
}

svg{
    /* background-color: red; */
    /* background-color: #d3d3d3; */
    /* padding: 0px 2px 0px 2px; */ 
    fill: #fff;   
    height: 4.3vh;
    border-radius: 3px;
    transition: all 0.200s;   
    cursor: pointer;
}

svg:hover{
    /* background-color: #ff0084; */
    fill: #ff0084;   
    transition: 0.3s;
    transform: scale(1.5);   
}


svg:not(:hover){    
    transition: 0.5s;
    transform: scale(1);
}


.social a{
    padding-left: 1vh;        
}