.grup-social{
    position: relative;
    min-width: 100%;
    max-width: 100%;
    bottom: -1vh;
}

svg{
    background-color: #d3d3d3;
    padding: 0px 2px 0px 2px;
    height: 3vh;
    border-radius: 3px;
    transition: all 0.200s;
}

svg:hover{
    background-color: #ff0084;
    fill: #000000; 
    transform: scale(1.4);
}


svg:not(:hover){    
    transform: scale(1);
}


.social a{
    padding-left: 0.8vh;
}