*{
    color: var(--color-txt-light);      
    font-size: 1.8vh;   
    font-family: var(--font-txt-df-semi-bold);
}

.first-item{
    padding-top: 10vh;
} 

.nav__menu{    
    min-width: 100%;
    max-width: 100%; 
}


.nav__item{    
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);    

    position: relative;
    top: 6vh;
    left: 3vh;
    padding: 0.1rem 0rem;
}

.nav__item::after{
    content: "";
    display: block;    
    background-color: var(--color-txt-hover);   
    width: 25vh;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .5s;        
}

.nav__item:hover, svg:hover{    
    color: var(--color-txt-hover);
    fill: var(--color-txt-hover);
    --clippy: polygon(100% 0, 0 0, 0 100%, 100% 100%);   
}

.focus-section, svg{
    color: var(--color-txt-hover);
    fill: var(--color-txt-light);
    --clippy: polygon(100% 0, 0 0, 0 100%, 100% 100%);   
}

svg{
    margin: 0px 10px 5px 0px;
}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .first-item{
        position: relative;
        top: -8vh;
    } 
}

@media screen and (max-width: 767px) {   
    .first-item{
        position: relative;
        top: -8vh;
    } 
}


