<ul class="nav flex-column menu nav__menu">  
  <li class="nav-item">    
    <a href="#home" class="d-block p-3 lead nav__item">Inicio</a>
  </li>
  <li class="nav-item">
    <a href="#about" class="d-block p-3 lead nav__item">Sobre mí</a>
  </li>
  <li class="nav-item">
    <a href="#education" class="d-block p-3 lead nav__item">Educacion</a>
  </li>
  <li class="nav-item">
    <a href="#experience" class="d-block p-3 lead nav__item">Experiencia</a>
  </li>
  <li class="nav-item">
    <a href="#project" class="d-block p-3 lead nav__item">Proyectos</a>
  </li>
  <li class="nav-item">
    <a href="#skills" class="d-block p-3 lead nav__item">Skills</a>
  </li>
  <li class="nav-item">
    <a href="#certificate" class="d-block p-3 lead nav__item">Certificados</a>
  </li>
  <li class="nav-item">

    <a href="#contact" class="d-block p-3 lead nav__item">Contacto</a>
  </li>
</ul>


