*{
    color: white;  
    font-size: 2.5vh;   
    /* font-size: 2.2vh; */
    /* text-transform: uppercase;    */
}

.first-item{
    padding-top: 4vh;
} 

/* Desktop */
@media screen and (min-width: 1024px) {

}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .first-item{
        position: relative;
        top: -8vh;
    } 
}

/* Smartphone */
@media screen and (max-width: 767px) {   
    .first-item{
        position: relative;
        top: -8vh;
    } 
}

.nav__menu{    
    min-width: 100%;
    max-width: 100%; 
}


.nav__item{    
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);    

    position: relative;
    top: 6vh;
    left: 3vh;
}

.nav__item::after{
    content: "";
    display: block;    
    background-color: #ff0084;   
    width: 25vh;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .5s;
}

.nav__item:hover{    
    color: #ff0084;
    --clippy: polygon(100% 0, 0 0, 0 100%, 100% 100%);   
}

.focus-section{
    color: #ff0084;
    --clippy: polygon(100% 0, 0 0, 0 100%, 100% 100%);   
}

