<div class="menu nav__menu">
    <a href="#home" class="d-block p-3 lead nav__item">Inicio</a>
    <a href="#about" class="d-block p-3 lead nav__item">Sobre mí</a>
    <a href="#education" class="d-block p-3 lead nav__item">Educacion</a>
    <a href="#experience" class="d-block p-3 lead nav__item">Experiencia</a>
    <a href="#project" class="d-block p-3 lead nav__item">Proyectos</a>
    <a href="#skills" class="d-block p-3 lead nav__item">Skills</a>
    <a href="#certificate" class="d-block p-3 lead nav__item">Certificados</a>
    <a href="#contact" class="d-block p-3 lead nav__item">Contacto</a>
</div>