* {
    font-family: var(--font-txt-df-regular);
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-shadow: 4px 2px 10px #000000;
}

article {
    margin: var(--margin-article-m);
    color: var(--color-txt-light-fv);
}


/* ! START REVISADO */

h1 {
    font-size: var(--font-size-sm);
}

h3 {
    font-family: var(--font-txt-df-semibold);
    font-size: var(--font-size-ss);
}

h5 {
    font-size: var(--font-size-sss) !important;
}

p {
    font-size: var(--font-size-ssm);
}

.tecnologias .col-md-4 {
    padding: 2px 2px;
    cursor: pointer;
}

.tecnologias .col-md-4>span>img {
    /* width: 4.5vw; */
    width: 100%;
    /* height: 2.5vh; */
    height: 80%;
    transition: 0.5s all ease;
    border-radius: 3px 3px 0px 0px;
}

.tecnologias .col-md-4>span>img:hover {
    transform: scale(1.2);
}


.image-container {
    position: relative;
    width: 100%;
    /* height: 10rem; */
    height: 100%;
    overflow: hidden;
    border-radius: 8px 8px 0px 0px;
    cursor: pointer;
    display: flex;
}

.project-image {
    width: 100%;
    height: max-content;    
    object-fit:scale-down;    
}

.project-details{
    font-family: var(--font-txt-df-thin);    
}

.project-details p{
    padding: 0.5rem 0rem;
}

.hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; /* Oculta el texto inicialmente */
}

.image-container:hover .hover-overlay {
    display: block; 
}

.hover-text {
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #003470e7 !important;
    color: var(--color-txt-light-fv);
    padding: 15px 25px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.hover-text:hover {
    opacity: 1;
}

.project-details{
    /* background: linear-gradient(to Top, #01275233 ,#0127525b, #0127529a); */
    background: linear-gradient(to Top, #01173011 ,#001731ad, #001a36e0);
    border-radius: 0px 0px 10px 10px;    
}

/* ! END REVISADO */

@media screen and (min-width: 1024px) {
   
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

}

@media screen and (max-width: 767px) {    
    article {
        margin: var(--margin-article-sm);
        padding: 1.5rem 1rem;
    }
}