* {
    font-family: var(--font-txt-df-arial);
    text-shadow: var(--color-txt-dark) 4px 1px 4px;
}

.row {
    padding: 0vh 8vh 0vh 8vh;
}

.content {
    /* text-transform: uppercase; */
    overflow: hidden;
    padding: var(--padding-article-l);
    margin: var(--margin-article-l);    
}

.content > p > a{
    /* font-size: var(--margin-article-l); */    
}


.col-md-3 {
    width: 20%;    
}

.cuadro {
    text-align: center;
    border-radius: 5px;
    background: var(--bg-color-600);
    background: radial-gradient(circle, #5454d47c 0%, #3434777a 92%, #1d1d367e 100%);

    color: var(--color-txt-light);
    fill: var(--color-txt-light);
    cursor: pointer;
    min-width: 100%;
    min-height: 100%;
}

.cuadro .img {
    padding: 0.25rem 0.25rem;
}

.cuadro svg{
    filter: drop-shadow(-2px 10px 20px var(--bg-color-tranps-dark));
}

.cuadro:hover {
    transition: 0.3s;
    transform: scale(1.1);
    transform: translate(0%, -10%);
}

.html:hover{
    box-shadow: 3px 3px 3px 3px var(--color-html);    
}

.css:hover{
    box-shadow: 3px 3px 3px 3px var(--color-css);
}

.js:hover{
    box-shadow: 3px 3px 3px 3px var(--color-js);
}

.ts:hover{
    box-shadow: 3px 3px 3px 3px var(--color-ts);
}

.angular:hover{
    box-shadow: 3px 3px 3px 3px var(--color-angular);
}

.nodejs:hover{
    box-shadow: 3px 3px 3px 3px var(--color-nodejs);
}

.firebase:hover{
    box-shadow: 3px 3px 3px 3px var(--color-firebase);
}

.ionic:hover{
    box-shadow: 3px 3px 3px 3px var(--color-ionic);
}

.joomla:hover{
    box-shadow: 3px 3px 3px 3px var(--color-joomla);
}

.genexus:hover{
    box-shadow: 3px 3px 3px 3px var(--color-genexus);
}

.c:hover{
    box-shadow: 3px 3px 3px 3px var(--color-c);
}

.csharp:hover{
    box-shadow: 3px 3px 3px 3px var(--color-csharp);
}

.php:hover{
    box-shadow: 3px 3px 3px 3px var(--color-php);
}

.java:hover{
    box-shadow: 3px 3px 3px 3px var(--color-java);
}

.springboot:hover{
    box-shadow: 3px 3px 3px 3px var(--color-springboot);
}

.arduino:hover{
    box-shadow: 3px 3px 3px 3px var(--color-arduino);
}

.github:hover{
    box-shadow: 3px 3px 3px 3px var(--color-github);
}

.postman:hover{
    box-shadow: 3px 3px 3px 3px var(--color-postman);
}

.mysql:hover{
    box-shadow: 3px 3px 3px 3px var(--color-mysql);
}

.mongodb:hover{
    box-shadow: 3px 3px 3px 3px var(--color-mongodb);
}

.vscode:hover{
    box-shadow: 3px 3px 3px 3px var(--color-vscode);
}

.photoshop:hover{
    box-shadow: 3px 3px 3px 3px var(--color-photoshop);
}

.npm:hover{
    box-shadow: 3px 3px 3px 3px var(--color-npm);
}

.boostrap:hover{
    box-shadow: 3px 3px 3px 3px var(--color-boostrap);
}

.cuadro:not(:hover) {
    transition: 0.5s;
    transform: scale(1);
}

.img:hover {
    transition: 0.3s;
    transform: scale(1.1);
}

.img:not(:hover) {
    transition: 0.3s;
    transform: scale(1);
}

.img > p{
    font-size: var(--font-size-sss);
    font-weight: bold;
}

/* Desktop */
@media screen and (min-width: 1024px) {
    .cuadro {
        width: 70%;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cuadro {
        width: 80%;
    }

    .col-md-3 {
        width: 32.5%;
    }

    .row {
        padding: 0vh 15vh 0vh 15vh;
    }
}

/* Smartphone */
@media screen and (max-width: 767px) {
    .cuadro {
        width: 100%;
        font-size: small;
    }

    .col-md-3 {
        width: 50%;
    }

    .row {
        padding: 0vh 1vh 0vh 1vh;
    }
}


@media screen and (min-width: 1024px) {}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .row {        
        padding: 0px;
    }
    
    .content {        
        padding: var(--padding-article-l);
        margin: var(--margin-article-m);
    }

    .img > p > svg{
        height: 10vw;
    }   
    

    .genexus > .img > p{                
        padding-top: 58.5px;
    }

    .genexus > .img > p > img{
        /* background: aqua; */
        width: 45%;
        height: max-content;         
    }
}

@media screen and (max-width: 767px) {
    .row {        
        padding: 0px;
    }
    
    .content {        
        padding: var(--padding-article-l);
        margin: var(--margin-article-m);
    }

    .img > p > svg{
        height: 20vw;
    }   
    

    .genexus > .img > p{                
        padding-top: 58.5px;
    }

    .genexus > .img > p > img{
        /* background: aqua; */        
        width: 45%;
        height: max-content;         
    }

}