* {
    font-family: "IBM Plex Sans Bold", sans-serif;
    text-shadow: #000000 4px 1px 4px;
}

.row {
    padding: 0vh 8vh 0vh 8vh;
}

.content {
    text-transform: uppercase;
    padding: 2.5vh;
}

.col-md-3 {
    width: 20%;
}

.cuadro {
    text-align: center;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px black;

 
    /* background: #7272ff7c;
    background: radial-gradient(circle, #7272ff7c 0%, #5c5cc27a 92%, #4949867e 100%); */
    background: #5f5fee7c;
    background: radial-gradient(circle, #5f5fee7c 0%, #3b3b887a 92%, #2727497e 100%);

    color: white;
    fill: white;
    cursor: pointer;
    min-width: 100%;
    min-height: 100%;
}

.cuadro .img {
    padding: 1.5rem 0rem 0.5rem 0rem;
}

.cuadro:hover {
    transition: 0.3s;
    transform: scale(1.1);
    transform: translate(0%, -10%);
    /* box-shadow: 3px 3px 3px 3px #ff0084;
    fill: #ff0084;
    color: #ff0084;    */
}

.html:hover{
    box-shadow: 3px 3px 3px 3px #EF9501;    
}

.css:hover{
    box-shadow: 3px 3px 3px 3px #0A83DF;
}

.js:hover{
    box-shadow: 3px 3px 3px 3px #F7DF1E;
}

.ts:hover{
    box-shadow: 3px 3px 3px 3px #1892E9;
}

.angular:hover{
    box-shadow: 3px 3px 3px 3px #EE3C49;
}

.nodejs:hover{
    box-shadow: 3px 3px 3px 3px #21A366;
}

.firebase:hover{
    box-shadow: 3px 3px 3px 3px #FFC400;
}

.ionic:hover{
    box-shadow: 3px 3px 3px 3px #448AFF;
}

.joomla:hover{
    box-shadow: 3px 3px 3px 3px #479E51;
}

.genexus:hover{
    box-shadow: 3px 3px 3px 3px #c6083d;
}

.c:hover{
    box-shadow: 3px 3px 3px 3px #6774ff;
}

.csharp:hover{
    box-shadow: 3px 3px 3px 3px #78c4e7;
}

.php:hover{
    box-shadow: 3px 3px 3px 3px #ad94ff;
}

.java:hover{
    box-shadow: 3px 3px 3px 3px #c6083d;
}

.springboot:hover{
    box-shadow: 3px 3px 3px 3px #479E51;
}

.arduino:hover{
    box-shadow: 3px 3px 3px 3px #00c4b0;
}

.github:hover{
    box-shadow: 3px 3px 3px 3px #658492;
}

.postman:hover{
    box-shadow: 3px 3px 3px 3px #ff3c00;
}

.mysql:hover{
    box-shadow: 3px 3px 3px 3px #00b7c4;
}

.mongodb:hover{
    box-shadow: 3px 3px 3px 3px #349740;
}

.vscode:hover{
    box-shadow: 3px 3px 3px 3px #0071B9;
}

.photoshop:hover{
    box-shadow: 3px 3px 3px 3px #1c66ce;
}

.npm:hover{
    box-shadow: 3px 3px 3px 3px #df144d;
}

.boostrap:hover{
    box-shadow: 3px 3px 3px 3px #7942d8;
}

.cuadro:not(:hover) {
    transition: 0.5s;
    transform: scale(1);
}

.img:hover {
    transition: 0.3s;
    transform: scale(1.2);
}

.img:not(:hover) {
    transition: 0.3s;
    transform: scale(1);
}


/* Desktop */
@media screen and (min-width: 1024px) {
    .cuadro {
        width: 70%;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cuadro {
        width: 80%;
    }

    .col-md-3 {
        width: 32.5%;
    }

    .row {
        padding: 0vh 15vh 0vh 15vh;
    }
}

/* Smartphone */
@media screen and (max-width: 767px) {
    .cuadro {
        width: 100%;
        font-size: small;
    }

    .col-md-3 {
        width: 50%;
    }

    .row {
        padding: 0vh 1vh 0vh 1vh;
    }
}