<div class="px-5 py-1">
  <div class="row">
    <div class="logo col-12 col-md-6" align="center">
      <a href="#home">
        <img
        class="img"
        height="28"
        src="../../../../assets/img/perfil.png"
        style="position: relative; top: 0.4vh"
      />

      <a class="px-2" style="position: relative; top: 0.6vh">Jhossymar Balderrama Rocha</a>
      </a>

    </div>

    <div class="copyright col-12 col-md-6" align="center">
      <p style="position: relative; top: 0.9vh">
        © 2023 copyright all right reserved
      </p>
    </div>
  </div>
</div>
