*{
    font-family: var(--font-txt-df);    
    color: var(--color-txt-light);
}

.row{    
    padding: 0vh 2vh 0vh 2vh;
}

.img{        
    border-radius: 40% !important;
}

a, p{    
    font-size: 1.5vh;
    text-decoration: none;     
}

/* Desktop */
@media screen and (min-width: 1024px) {
    .copyright{
        text-align: right;
    }

    .logo{
        text-align: left;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {

}

/* Smartphone */
@media screen and (max-width: 767px) {

}