* {
    font-family: "IBM Plex Sans Bold", sans-serif;
    text-shadow: black 5px 5px 7px;
}

.box-section {
    padding: 2em 8em 2em 8em;
}

.section-body {
    font-family: "IBM Plex Sans Italic", sans-serif;
}

.text-style {
    text-decoration: none;
    margin: 0;
    margin-top: 7px;
    font-family: "IBM Plex Sans Semi Bold", sans-serif;
}

.sub-title {
    font-family: "IBM Plex Sans Italic", sans-serif;
    text-decoration: underline;
}

li {
    font-family: "IBM Plex Sans Medium Italic", sans-serif;
}

button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background: #000428;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
}

button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #ff0084;
    border: 0.5px solid #000428;
    border-radius: 5px;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}

button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

button span {
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #fff;
    font-size: 0.756em;
    font-weight: 700;
    letter-spacing: 0.2em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

button:hover span {
    color: white;
    animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
    0% {
        transform: scale(0.95);
    }

    50% {
        transform: scale(0.90);
    }

    100% {
        transform: scale(1);
    }
}
