<div class="row" *ngIf="auth.languajeSelect ? changeLanguaje() : changeLanguaje()">
  <p class="h3">{{ data.title }}</p>
  <div class="row">
    <h4 class="fw-bold">
      {{ data.company }}
    </h4>
    <hr class="featurette-divider" />

    <div class="col-md-8 order-1 box-left">
      <h5>
        {{ data.year }}
      </h5>
      
      <div class="box-exp my-1" *ngFor="let item of data.sections" >
        <p>{{item.title}}</p>
        <ul *ngFor="let st of item.functions">
          <li [innerHTML]="st">{{st}}</li>
        </ul>
      </div>    
    </div>

    <div class="col-md-4 order-2 box-right">
      <h4>
        <a>{{ data.titleEmpresa }}</a>
      </h4>
      <div class="btn-download" align="center">
        <button>
          <a href="http://www.vlb.com.ar/" target="_blank">
            <i class="fa-solid fa-globe"></i>
            {{ data.company }}
          </a>
        </button>
      </div>
      <ul class="py-2">
        <li *ngFor="let technology of data.technologies">
          <a>{{ technology }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
