* {
    font-family: var(--font-txt-df);
    text-shadow: var(--color-txt-dark) 3px 3px 2px;
    color: var(--color-txt-light);
}

.row{
    overflow: hidden;
    margin: var(--margin-article);
    padding: var(--padding-article);
}

/* .box-content > .row{
    padding: 5px 35px;
} */

h2{
    font-size: var(--font-size-sm);    
    font-weight: bold;
}

/* Box Section Left */

.box-left{
    display: flex;    
    justify-content: center;    
    flex-direction: column;    
}

.box-left > h4{
    font-size: var(--font-size-ss);
}

.box-left > p {
    font-size: var(--font-size-ssl);
}

.box-left > ul > li {
    font-size: var(--font-size-ssl);
}

/* Box Section Right */
.box-right{
    display: flex;
    justify-content: center;    
    flex-direction: column;
}


.box-right > ul > li{
    font-size: var(--font-size-ssl);
}

.btn-download{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
}

button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background: var(--color-txt-hover);
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
}

button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: var(--bg-color-950);
    border: 0.5px solid var(--color-txt-hover);
    border-radius: 5px;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}

button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

button a {
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 13px 18px;
    color:  var(--color-txt-light);
    font-size: 0.756em;
    font-weight: 700;
    letter-spacing: 0.2em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

button:hover a {
    color: var(--color-txt-light);    
}



@media screen and (min-width: 1024px) {}

@media screen and (min-width: 768px) and (max-width: 1023px) {}

@media screen and (max-width: 767px) {
    .row{
        overflow: hidden;
        margin: var(--margin-article-s);
        padding: var(--padding-article-l);
    }
}