* {
    font-family: "IBM Plex Sans Bold", sans-serif;
    text-shadow: black 3px 3px 2px;
    color: white;
}

.container{
    margin: 0px;
    padding: 0px;
    padding: 3vh 5vh 3vh 5vh;
}

.font-style{
    color: #ff0084;
}

.experience{    
}

.technologies{       
}


button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background: #ff0084;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
}

button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #000428;
    border: 0.5px solid #ff0084;
    border-radius: 5px;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}

button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

button a {
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 13px 18px;
    color: #fff;
    font-size: 0.756em;
    font-weight: 700;
    letter-spacing: 0.2em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

button:hover a {
    color: white;
    animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
    0% {
        transform: scale(0.95);
    }

    50% {
        transform: scale(0.90);
    }

    100% {
        transform: scale(1);
    }
}

.title-content{
    padding-top: 20px;
    padding-left: 20px;
    
}



.box-section {
    padding: 2em 8em 2em 8em;
}

.section-body {
    font-family: "IBM Plex Sans Italic", sans-serif;
}


.sub-title {
    font-family: "IBM Plex Sans Bold Italic", sans-serif;
    /* text-decoration: underline; */
} 

li {
    font-family: "IBM Plex Sans Medium Italic", sans-serif;
}

/* Desktop */
@media screen and (min-width: 1024px) {
    .btn-download{
        text-align: left;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .btn-download{
        text-align: left;
    }
}

/* Smartphone */
@media screen and (max-width: 767px) {
    .container{
        margin: 0px;
        padding: 0px;
        padding: 4vh 1vh 4vh 1vh;
    }
    
}