<div class="row" *ngIf="auth.languajeSelect ? changeLanguaje() : changeLanguaje()">
  <p class="h3">{{ data.title }}</p>
  <div class="row">
    <h2>
      {{ data.company }}
    </h2>
    <hr class="featurette-divider" />

    <div class="col-md-8 order-1 box-left">
      <h4>
        {{ data.year }}
      </h4>
      <p>
        <a>{{ data.functionIn }}</a>
      </p>
      <ul>
        <li *ngFor="let description of data.description">
          <a>{{ description }}</a>
        </li>
      </ul>
    </div>

    <div class="col-md-4 order-2 box-right">
      <h4>
        <a>{{ data.titleTechnologies }}</a>
      </h4>
      <ul>
        <li *ngFor="let technology of data.technologies">
          <a>{{ technology }}</a>
        </li>
      </ul>

      <div class="btn-download" align="center">
        <button>
          <a href="http://www.vlb.com.ar/" target="_blank">
            <i class="fa-solid fa-globe"></i>
            {{ data.company }}
          </a>
        </button>
      </div>
    </div>
  </div>
</div>
