 <div class="container">
  <div class="title-content">
    <p class="h3 mb-4" style="font-family: IBM Plex Sans Italic, sans-serif">
      Experiencia
    </p>
  </div>
  <div
    class="row featurette mx-2"
    data-aos="fade-left"
    data-aos-offset="100"
    data-aos-easing="ease-in-sine"
  >
    <div class="col-md-7 order-2 my-4">
      <p class="h2">CA VLB s.a</p>
      <hr class="featurette-divider" />
      <p class="h5">2017 - 2019</p>
      <p class="text-style">
        Como desarrollador de software experimentado, tengo una experiencia en
        la creacion y optimizacion de aplicaciones para diversos sistemas
        operativos, incluyendo Linux y Windows.
      </p>
      <p class="h5 text-style sub-title mt-3">Tecnologias utilizadas:</p>
      <ul class="mt-2">
        <li>Genexus Evo 2, Evo 3 y 9</li>
        <li>Joomla 2.5v - 3.0v</li>
      </ul>

      <div class="btn-download" align="center">
        <button>
          <a href="http://www.vlb.com.ar/" target="_blank">Pagina Web CA-VLB s.a.</a>
        </button>
      </div>
    </div>

    <div class="col-md-5 order-1  my-4">
      <p class="h4">Mi Experiencia</p>
      <p class="text-style mt-4 mb-4">
        Hola que tal! Mi nombre es Jhossymar Balderrama Rocha. Soy un
        Desarrollador full stack, soy muy apasionado y dedicado a mi trabajo.
      </p>      
    </div>
  </div>
</div>
