* {
    font-family: var(--font-txt-df-thin);
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.off-canvas {
    background-color: var(--bg-dark-metal-4);    
    min-height: 100vh;
    
    min-width: 17vw;   
    z-index: 40;
}

.content-web {
    flex-grow: 1; /* ! min-width: 83vw;  | flex-grow el resto width */    
    display: flex;
    justify-content: center;
    align-items: center;    
    
    overflow: hidden;
}

/* ? PC */
@media screen and (min-width: 1024px) {
    .off-canvas {
        display: block;
    }

    .content-web {
        width: auto;
    }
}

/* ? Tablets & Smartphones*/
@media screen and (max-width: 1023px) {
    .off-canvas {
        display: none;
    }

    .content-web {
        flex-grow: 1;
    }
}
