*{
    font-family: "IBM Plex Sans"
}

.sections{  
    position: absolute;      
    top: 0%;
    left: 0%;
    margin: 0;
}

.sidebar-container{
    /* background: rgb(13, 3, 43); */
    /* background: #0D0B1C;   */
    background: #0a0916;  

    min-height: 100vh;
    min-width: 36vh;
    position: sticky;
    top: 0px;
    left: 0px;
}

.content{
    /* background: rgb(26,8,81);
    background: linear-gradient(156deg, rgba(26,8,81,1) 0%, rgba(39,12,125,1) 40%, rgba(122,84,239,1) 100%); */
    /* background: #000428;  
background: -webkit-linear-gradient(to left, #004e92, #000428); 
background: linear-gradient(to left, #004e92, #000428);  */

}

