<article *ngIf="auth.languajeSelect == 'es' ? changeLanguaje() : changeLanguaje() ">
  <p class="h3">{{data.title}}</p>
  <div class="album py-2">
    <div class="content">
      <hr class="featurette-divider" />
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col-12 col-md-4 col-lg-6" data-aos="fade-up" data-aos-duration="1200">
        <div class="card" title="Master en JavaScript" data-aos="zoom-in" data-aos-offset="100"
          data-aos-easing="ease-in-sine">
          <div class="img">
            <div class="img-config certificateUdemy"></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-6" data-aos="fade-up" data-aos-duration="1200">
        <div class="card" title="Python IBM Cognitive Class" data-aos="zoom-in" data-aos-offset="100"
          data-aos-easing="ease-in-sine">
          <div class="img">
            <div class="img-config certificatePython"></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-6" data-aos="fade-up" data-aos-duration="1200">
        <div class="card" title="YoProgramo - Argentina Programa" data-aos="zoom-in" data-aos-offset="100"
          data-aos-easing="ease-in-sine">
          <div class="img">
            <div class="img-config certificateYoProgramo"></div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-6" data-aos="fade-up" data-aos-duration="1200">
        <div class="card" title="SéPrograma - Argentina Programa" data-aos="zoom-in" data-aos-offset="100"
          data-aos-easing="ease-in-sine">
          <div class="img">
            <div class="img-config certificateSePrograma"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</article>