<div class="album py-5">
  <p class="h3 mb-4 mx-5 px-5" style="font-family: IBM Plex Sans Italic, sans-serif">
    Certificados
  </p>
  <div class="container px-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card">
          <div class="img">
            <img src="../../../../assets/img/certificados/Certificado Master JavaScript Udemy.png" height="100%" width="100%">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card ">
          <div class="img">
            <img src="../../../../assets/img/certificados/Certificado Python IBM Cognitive Class.png" height="100%" width="100%" style="background-size: cover;">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="img">
            <img src="../../../../assets/img/certificados/Certificado Aprobacion YoProgramo ArgentinaPrograma.png" height="100%" width="100%">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="img">
            <img src="../../../../assets/img/certificados/Certificado Aprobacion SePrograma ArgentinaPrograma.png" height="100%" width="100%">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="img"></div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="img"></div>
        </div>
      </div>
    </div>
  </div>
</div>
