* {
    font-family: "IBM Plex Sans Bold", sans-serif;
    text-shadow: black 5px 5px 8px;
}

.card {
    z-index: -1 !important;
    position: relative;
    height: 280px;
    /* width: 380px; */
    /* background: linear-gradient(to left, #000428, #004e92); */
    box-shadow: 2px 2px 2px 2px black;
    border: 5px solid #004e92;
    cursor: pointer;
}
 
.img {
    position: relative;
    height: inherit;
    width: inherit;
    padding: 7px !important;
    overflow: hidden;
}


.card:hover {
    transition: 0.7s;
    transform: translate(0%, -20%);
}

.card:not(:hover) {
    transition: 0.7s;
    transform: none;
} 