<article *ngIf="auth.languajeSelect == 'es' ? changeLanguaje() : changeLanguaje() ">
  <p class="h3">{{data.title}}</p>
  <div class="album py-2">
    <div class="content">
      <hr class="featurette-divider" />
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col-12 col-md-4 col-lg-6">
        <div class="card-title">
          <h6><b>Universidad Tecnologica Nacional</b></h6>
          <h6>Tecnico Universitaria en Programación </h6>
        </div>
        <div class="card" title="Titulo Técnicatura Universitario en Programación">
          <div class="img">
            <a href="../../../../assets/img/certificados/tituloUTNFraTUP.webp" target="_blank">
              <div class="img-config degreesUTNFra"></div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-6">
        <div class="card-title">
          <br>
          <h6><b>Udemy</b> | Master en JavaScript </h6>
        </div>
        <div class="card" title="Master en JavaScript">
          <div class="img">
            <a href="../../../../assets/img/certificados/certificateUdemy.webp" target="_blank">
              <div class="img-config certificateUdemy"></div>
            </a>
          </div>
        </div>
      </div>      
      <div class="col-12 col-md-4 col-lg-6">
        <div class="card-title">
          <h6><b>Argentina Programa</b> | #YoProgramo </h6>
        </div>
        <div class="card" title="YoProgramo - Argentina Programa">
          <div class="img">
            <a href="../../../../assets/img/certificados/certificateYoProgramo.webp" target="_blank">
              <div class="img-config certificateYoProgramo"></div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-6">
        <div class="card-title">
          <h6><b>Argentina Programa</b> | #SéProgramar </h6>
        </div>
        <div class="card" title="SéPrograma - Argentina Programa">
          <div class="img">
            <a href="../../../../assets/img/certificados/certificateSePrograma.webp" target="_blank">
              <div class="img-config certificateSePrograma"></div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-6">
        <div class="card-title">
          <h6><b>Cognitive Class</b> | Python IBM </h6>
        </div>
        <div class="card" title="Python IBM Cognitive Class">
          <div class="img">
            <a href="../../../../assets/img/certificados/certificatePython.webp" target="_blank">
              <div class="img-config certificatePython"></div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-6">
        <div class="card-title">
          <h6><b>Linkedin Learning</b> | React js Esencial</h6>
        </div>
        <div class="card" title="React js Esencial | Linkedin Learning">          
          <div class="img">
            <a href="../../../../assets/img/certificados/CertificadoDeFinalizacion_React-esencial.webp" target="_blank">
              <div class="img-config certificateReactEsencial"></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</article>