#off-canvas-body{
    width: 100%;
}

#off-canvas-body:first-child{
    width: 100%;
}

#menu-off-canvas{      
    height: 100vh;    
    width: 2.5vw;    
}

#off-canvas-icons {    
    margin-top: -6rem;    
    width: 100%;
}

#off-canvas-icons a {
    z-index: 20;        
    height: auto;
    width: auto;            
}


#menu-off-canvas i{
    cursor: pointer;
}


.off-canvas{
    position: sticky;
    top: 0;
    left: 0;         
}


.language{
    min-height: 4vh;
    max-height: 4vh;     
}

.header{
    min-height: 45vh;
    max-height: 45vh;
}

.content{
    min-height: 45vh;
    max-height: 45vh; 
}

.footer{
    min-height: 2vh;
    max-height: 2vh; 
} 

.off-canvas-hidde-item{
        display: grid;
        justify-content: center;
}


.tooltip-container {
    position: relative;
    display: inline-block;
    text-align: center;
}

.tooltip-text {
    position: absolute;
    visibility: hidden;
    color: #ffffff;
    text-align: center;
    border-radius: 0.8rem;
    padding: 0.3rem 2rem 0.3rem 2rem;    
    z-index: 1;
    left: 100%; 
    top: 60%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    text-transform: capitalize;
    background: var(--bg-dark-metal-4-hover); 
    white-space: nowrap; 
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    transform: translateY(-50%) translateX(10px);
}

.tooltip-container:hover{ 
    width: 100%;
    margin-left: -7.5px;    
    border-left: 4px solid #2270ffe5;
}

.tooltip-container:hover a{
    padding-left: 9px;
}



.active {
    transform: scale(1.2);
    color: #347bff;
    
}

.active-btn{
    width: 100%;
    margin-left: -7.5px;    
    padding-left: 9px;
    border-left: 4px solid #2270ffe5;    
    padding-top: 4px;
    padding-bottom: 4px;
}

.active-btn:hover{
    padding-left: 0px;
}