<div class="container py-5">
  <div
    class="col col-md-12"
    data-aos="fade-right"
    data-aos-offset="100"
    data-aos-easing="ease-in-sine"
    data-aos-duration="650"
  >
    <p class="font-style title display-5">Bienvenidos a mi portafolio</p>

    <p class="font-style display-6">Hola, soy</p>
    <p class="font-style display-5" style="color: #ff0084">Jhossymar</p>
    <p class="font-style display-5" style="color: #ff0084">
      Balderrama Rocha
    </p>
    <p class="font-style display-6">
      y yo soy un
      <a
        class="font-style display-5"
        style="color: #ff0084; text-decoration: none"
      >
        Desarrollador Full Stack...
      </a>
    </p>

    <button>
      <span>
        <a href="#contact" class="text-light" style="text-decoration: none"> Contact Me </a>
      </span>
    </button>
  </div>
</div>
