<div class="container py-5">
  <div
    class="col col-md-12 box-content"
    data-aos="fade-right"
    data-aos-offset="100"
    data-aos-easing="ease-in-sine"
    data-aos-duration="650"   
    align="center"     
  >
  <div class="box-welcome">
    <p class="welcome-title">Bienvenidos a mi portafolio</p>
  </div>

  <div class="content" align="center">
    <p class="hello">Hola, soy</p>
    <p class="name font-color-custom name-effect">Jhossymar Balderrama Rocha</p>
    <p class="iam">y yo soy un</p>
    <p class="developer-fullstack font-color-custom">Desarrollador Full Stack...</p>
    <p class="developer">desarrollador</p>
    <p class="fullstack font-color-custom">full stack</p>

    <div class="box-button" align="center">
      <a href="#contact" class="button" title="contáctame">
        <span>
          <a class="text-light" style="text-decoration: none"> Contáctame </a>
        </span>
      </a>
    </div>
  </div>

    <!-- <p class="welcome-title">Bienvenidos a mi portafolio</p>

    <p class="font-style display-6">Hola, soy</p>
    <p class="font-style display-5" style="color: #ff0084">Jhossymar</p>
    <p class="font-style display-5" style="color: #ff0084">
      Balderrama Rocha
    </p>
    <p class="font-style display-6">
      y yo soy un
      <a
        class="font-style display-5"
        style="color: #ff0084; text-decoration: none"
      >
        Desarrollador Full Stack...
      </a>
    </p> -->

  </div>
</div>
