* {
    font-family: var(--font-txt-df);    
    text-shadow: 3px 3px 6px black;
}

.row{
    margin: var(--margin-article-s);
    padding: var(--padding-article-s);
}

.button {    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background: var(--color-txt-hover);
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
    text-decoration: none;
    width: fit-content;
    /* margin: 1vh 22vw; */
}

.button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: var(--bg-color-950);
    border: 0.5px solid var(--color-txt-hover);
    /* border-radius: 5px; */
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}

.button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

.button span {
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 14px 25px;
    color: var(--color-txt-white);
    /* font-size: 0.786em; */
    font-size: var(--font-size-sss);
    font-weight: 700;
    letter-spacing: 0.2em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

.button:hover span {
    color: var(--color-txt-white);
    animation: scaleUp 0.3s ease-in-out;
}

input,
textarea {
    text-shadow: none;
    border-radius: 2px;
}

textarea {
    margin-top: 1rem;
    min-width: 100%;
    min-height: 150px;
}

.col-md-5{
    text-shadow: 3px 3px 4px var(--bg-color-transp-dark);
}

.col-md-5 > h1{
    color: var(--color-txt-hover);
}

.col-md-4 > p{
    font-size: var(--font-size-ss);    
}

.col-md-4 > h1{
    font-size: var(--font-size-sl);    
}

.col-md-4 > h5{
    font-size: var(--font-size-ss);    
}

.g-3 > h3{    
    font-weight: bold;
}

p > svg{
    color: var(--color-txt-hover);
    margin-right: 10px;
    filter: drop-shadow(3px 3px 4px var(--color-txt-dark));
}

.box-contact > p{
    font-size: var(--font-size-ssm);
}

iframe{
    padding-top: 20px;
    height: 40%;
    width: 100%;    
}

/* windows */
@media screen and (min-width: 1024px) {
    
}

/* tables */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .row{
        margin: var(--margin-article-s);
        padding: var(--padding-article-s);
    }
}

/* phone */
@media screen and (max-width: 767px) {
   
    .col-md-4 > p{
        font-size: var(--font-size-sm);    
    }
    
    .col-md-4 > h1{
        font-size: var(--font-size-ll);    
    }
    
    .col-md-4 > h5{
        font-size: var(--font-size-sl);    
    }

    .button span{
        font-size: var(--font-size-ssl);
    }
}
