
  <div class="container">
    <form class="needs-validation" novalidate data-aos="zoom-in-up">
      <p class="display-5 title-style mb-4" align="center">
        Contáctame
      </p>
        
      <div class="row g-3">
        <div class="col-sm-12">
          <label for="nombre" class="form-label">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="nombre"
            placeholder="ingrese su nombre"
            value=""
            required
          />          
        </div>

        <div class="col-sm-12">
          <label for="mail" class="form-label">Mail</label>
          <input
            type="email"
            class="form-control"
            id="mail"
            placeholder="ingrese un mail"
            value=""
            required
          />          
        </div>

        <div class="col-sm-12">
          <label for="asunto" class="form-label">Asunto</label>
          <input
            type="text"
            class="form-control"
            id="asunto"
            placeholder="ingrese asunto"
            value=""
            required
          />          
        </div>

        <div class="col-sm-12">            
            <textarea placeholder="mensaje"></textarea>
        </div>
      </div>


     <div align="center">
        <button class="btn btn-primary btn-lg" type="submit">enviar</button>
     </div>
    </form>
  </div>
