/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "IBM Plex Sans Bold";
    src: url("../src/assets/font/IBM_Plex_Sans/IBMPlexSans-Bold.ttf")
}

@font-face {
    font-family: "IBM Plex Sans Bold Italic";
    src: url("../src/assets/font/IBM_Plex_Sans/IBMPlexSans-BoldItalic.ttf")
}

@font-face {
    font-family: "IBM Plex Sans Extra Light";
    src: url("../src/assets/font/IBM_Plex_Sans/IBMPlexSans-ExtraLight.ttf")
}

@font-face {
    font-family: "IBM Plex Sans Extra Light Italic";
    src: url("../src/assets/font/IBM_Plex_Sans/IBMPlexSans-ExtraLightItalic.ttf")
}

@font-face {
    font-family: "IBM Plex Sans Italic";
    src: url("../src/assets/font/IBM_Plex_Sans/IBMPlexSans-Italic.ttf")
}

@font-face {
    font-family: "IBM Plex Sans Light";
    src: url("../src/assets/font/IBM_Plex_Sans/IBMPlexSans-Light.ttf")
}

@font-face {
    font-family: "IBM Plex Sans Light Italic";
    src: url("../src/assets/font/IBM_Plex_Sans/IBMPlexSans-LightItalic.ttf")
}

@font-face {
    font-family: "IBM Plex Sans Medium";
    src: url("../src/assets/font/IBM_Plex_Sans/IBMPlexSans-Medium.ttf")
}

@font-face {
    font-family: "IBM Plex Sans Medium Italic";
    src: url("../src/assets/font/IBM_Plex_Sans/IBMPlexSans-MediumItalic.ttf")
}

@font-face {
    font-family: "IBM Plex Sans";
    src: url("../src/assets/font/IBM_Plex_Sans/IBMPlexSans-Regular.ttf")
}

@font-face {
    font-family: "IBM Plex Sans Semi Bold";
    src: url("../src/assets/font/IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf")
}

@font-face {
    font-family: "IBM Plex Sans Bold Italic";
    src: url("../src/assets/font/IBM_Plex_Sans/IBMPlexSans-BoldItalic.ttf")
}

@font-face {
    font-family: "IBM Plex Sans Semi Bold Italic";
    src: url("../src/assets/font/IBM_Plex_Sans/IBMPlexSans-SemiBoldItalic.ttf")
}

@font-face {
    font-family: "IBM Plex Sans Thin";
    src: url("../src/assets/font/IBM_Plex_Sans/IBMPlexSans-Thin.ttf")
}

@font-face {
    font-family: "IBM Plex Sans Thin Italic";
    src: url("../src/assets/font/IBM_Plex_Sans/IBMPlexSans-ThinItalic.ttf")
}

:root {
    /* Fonts */
    --font-txt-df: "IBM Plex Sans", sans-serif;
    --font-txt-df-bold: "IBM Plex Sans Bold", sans-serif;
    --font-txt-df-italic: "IBM Plex Sans Italic", sans-serif;
    --font-txt-df-bold-italic: "IBM Plex Sans Bold Italic", sans-serif;
    --font-txt-df-semi-bold: "IBM Plex Sans Semi Bold", sans-serif;
    --font-txt-df-arial: Arial, Helvetica, sans-serif;

    /* TITLE
        CLASS{ h3} 
        h2

        SubTitle
        h4
        ss

        Text
        ssl
    */

    --font-size-ll: 5vw;
    --font-size-lm: 4.5vw;
    --font-size-ls: 4vw;

    --font-size-ml: 4vw;
    --font-size-mm: 3.5vw;
    --font-size-ms: 3vw;

    --font-size-sl: 2vw;
    --font-size-sm: 1.5vw;
    --font-size-ss: 1vw;

    --font-size-ssl: 0.9vw;
    --font-size-ssm: 0.8vw;
    --font-size-sss: 0.7vw;

    /* Margin Padding - Container */
    --padding-article: 15px 0px;
    --margin-article: 0px 50px;
    --padding-article-s: 1% 0%;
    --margin-article-s: 0% 5%;
    --padding-article-m: 2% 0%;
    --margin-article-m: 0% 10%;
    --padding-article-l: 3% 0%;
    --margin-article-l: 0% 15%;


    /* Colors */
    --color-txt-light: white;
    --color-txt-dark: black;
    --color-txt-hover: #0077ff;
    /*0059ff , 0099ff*/
    --color-txt-pink: #FF0084;
    --color-txt-brown: #F57E25;

    --color-html: #EF9501;
    --color-css: #0A83DF;
    --color-js: #F7DF1E;
    --color-ts: #1892E9;
    --color-angular: #EE3C49;
    --color-nodejs: #21A366;
    --color-firebase: #FFC400;
    --color-ionic: #448AFF;
    --color-joomla: #479E51;
    --color-genexus: #c6083d;
    --color-c: #6774ff;
    --color-csharp: #78c4e7;
    --color-php: #ad94ff;
    --color-java: #c6083d;
    --color-springboot: #479E51;
    --color-arduino: #00c4b0;
    --color-github: #658492;
    --color-postman: #ff3c00;
    --color-mysql: #00b7c4;
    --color-mongodb: #349740;
    --color-vscode: #0071B9;
    --color-photoshop: #1c66ce;
    --color-npm: #df144d;
    --color-boostrap: #7942d8;
    --color-tailwind: #00b7c4;

    --bg-color-transp-pink: #ff00848f;
    --bg-color-transp-blue: #0077ff88;
    --bg-color-transp-dark: #000000a6;

    --bg-color-50: #f6f6f6;
    --bg-color-100: #e7e7e7;
    --bg-color-200: #d1d1d1;
    --bg-color-300: #b0b0b0;
    --bg-color-400: #888888;
    --bg-color-500: #6d6d6d;
    --bg-color-600: #5d5d5d;
    --bg-color-700: #4f4f4f;
    --bg-color-800: #454545;
    /* --bg-color-900: #0a0a0a;  */
    --bg-color-900: #0e0e0e;
    --bg-color-950: #000000;

    /* ? Fondos*/
    --bg-img-notebook: url('./assets/img/backgrounds/bg1.webp');
    --bg-img-moon: url('./assets/img/backgrounds/bg4.webp');
    --bg-img-earth: url('./assets/img/backgrounds/bg3.webp');
    --bg-img-sky: url('./assets/img/backgrounds/bg2.webp');
    --bg-img-sky-profile: url('./assets/img/backgrounds/bg-0.webp');

    /* ? Perfil*/
    --bg-img-profile: url('./assets/img/perfil.webp');

    /* --bg-img-profile2: url('./assets/img/perfil_2.png'); */

    /* ? Lenguajes */
    --img-flag-es: url('./assets/img/languajes/es-flag.webp');
    --img-flag-c-es: url('./assets/img/languajes/es.webp');

    --img-flag-uk: url('./assets/img/languajes/uk-flag.webp');
    --img-flag-c-uk: url('./assets/img/languajes/uk.webp');

    --img-flag-eu: url('./assets/img/languajes/eeuu-flag.webp');
    --img-flag-c-eu: url('./assets/img/languajes/eeuu.webp');

    --img-flag-br: url('./assets/img/languajes/br-flag.webp');
    --img-flag-c-br: url('./assets/img/languajes/br.webp');

    /* ? Certificados */

    --bg-img-certificado-1: url('./assets/img/certificados/certificateUdemy.webp');
    --bg-img-certificado-2: url('./assets/img/certificados/certificatePython.webp');
    --bg-img-certificado-3: url('./assets/img/certificados/certificateYoProgramo.webp');
    --bg-img-certificado-4: url('./assets/img/certificados/certificateSePrograma.webp');
}

html {
    scroll-behavior: smooth;
}

* {
    /* cursor: url('../src/assets/img/material/cursor_spink_premium/Arrow.cur'), auto; */
}

::-webkit-scrollbar {
    width: 1.5vh;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-txt-hover);
    border-radius: 2px;
}

::-webkit-scrollbar-track {
    background-color: #0a0916;
    /* background-color: #f0f0f0; */
}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    :root {
        /* Fonts Sizes */
        --font-size-ll: 7vw;
        --font-size-lm: 6.5vw;
        --font-size-ls: 6vw;

        --font-size-ml: 5vw;
        --font-size-mm: 4.5vw;
        --font-size-ms: 4vw;

        --font-size-sl: 3.5vw;
        --font-size-sm: 3vw;
        --font-size-ss: 2.5vw;

        --font-size-ssl: 1.4vw;
        --font-size-ssm: 1.3vw;
        --font-size-sss: 1.2vw;
    }
}

@media screen and (max-width: 767px) {
    :root {
        /* Fonts Sizes */
        --font-size-ll: 7vw;
        --font-size-lm: 6.5vw;
        --font-size-ls: 6vw;

        --font-size-ml: 5.5vw;
        --font-size-mm: 5vw;
        --font-size-ms: 4.5vw;

        --font-size-sl: 4vw;
        --font-size-sm: 3.5vw;
        --font-size-ss: 3vw;

        --font-size-ssl: 2.8vw;
        --font-size-ssm: 2.7vw;
        --font-size-sss: 2.6vw;
    }
}