@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Outfit Thin";
    src: url("../src/assets/font/Outfit/Outfit-Thin.ttf")
}

@font-face {
    font-family: "Outfit Regular";
    src: url("../src/assets/font/Outfit/Outfit-Regular.ttf")
}

@font-face {
    font-family: "Outfit Medium";
    src: url("../src/assets/font/Outfit/Outfit-Medium.ttf")
}

@font-face {
    font-family: "Outfit Bold";
    src: url("../src/assets/font/Outfit/Outfit-Bold.ttf")
}

@font-face {
    font-family: "Outfit SemiBold";
    src: url("../src/assets/font/Outfit/Outfit-SemiBold.ttf")
}


/* Poppins */
@font-face {
    font-family: "Poppins Thin";
    src: url("../src/assets/font/Poppins/Poppins-Thin.ttf")
}

@font-face {
    font-family: "Poppins Regular";
    src: url("../src/assets/font/Poppins/Poppins-Regular.ttf")
}

@font-face {
    font-family: "Poppins Medium";
    src: url("../src/assets/font//Poppins/Poppins-Medium.ttf")
}

@font-face {
    font-family: "Poppins Bold";
    src: url("../src/assets/font/Poppins/Poppins-Bold.ttf")
}

@font-face {
    font-family: "Poppins SemiBold";
    src: url("../src/assets/font/Poppins/Poppins-SemiBold.ttf")
}


:root , .dark-theme{

    /* ? Fonts Family */
    /* --font-txt-df: "Outfit Regular", sans-serif;
    --font-txt-df-thin: "Outfit Thin", sans-serif; 
    
    --font-txt-df-medium: "Outfit Medium", sans-serif;
    --font-txt-df-bold: "Outfit Bold", sans-serif;
    --font-txt-df-semi-bold: "Outfit SemiBold", sans-serif; */
    --font-txt-df: "Poppins Regular", sans-serif;
    --font-txt-df-thin: "Poppins Thin", sans-serif; 
    
    --font-txt-df-medium: "Poppins Medium", sans-serif;
    --font-txt-df-bold: "Poppins Bold", sans-serif;
    --font-txt-df-semi-bold: "Poppins SemiBold", sans-serif;


    /* ? Text*/
    --txt-color-dark: #000000;
    --txt-color-light: #ffffff;
    --txt-color-blue: #0068df;
    --txt-color-blue-dark: #023570;

    --txt-color-blue-dark-h: #0d2d52cb;

    /* * Estilos */
    --txt-shadow-titles: black 5px 5px 8px;
    --txt-shadow-titles-blue: var(--color-txt-hover-3) 5px 5px 8px;

    /* ? Backgrounds*/
    --bg-dark-metal-1: #1B1F23;
    --bg-dark-metal-2: #171b1f;
    /* ? Gris Metal*/
    --bg-dark-metal-3: #242424;
    /* ? Gris Granito */
    /* --bg-dark-metal-4: #0f151d; */
    --bg-dark-metal-4: #0a0e13;
    /* ? Azul Metal*/
    --bg-dark-metal-5: #232C38;
    /* ? Azul Metal Claro Office*/
    /* --bg-dark-metal-6: #0f151df5; */
    --bg-dark-metal-6: #0d121af5;
    /* ? Azul Metal Claro/lite Office*/

    --bg-dark-metal-4-h: #0f151dc9;

    --bg-gradient-1: #00000083;
    --bg-gradient-2: #000000e5;

    /* ? Colors */

    /* ? Links | URL */

    /* ? Images | URL */
    --bg-img-profile: url('/assets/img/profile.webp');
    --bg-img-notebook: url('/assets/img/backgrounds/bg1.webp');
    --bg-img-moon: url('/assets/img/backgrounds/bg4.webp');
    --bg-img-earth: url('/assets/img/backgrounds/bg3.webp');
    --bg-img-sky: url('/assets/img/backgrounds/bg2.webp');
    --bg-img-sky-profile: url('/assets/img/backgrounds/bg-0.webp');


    /* ! Indefinidos */
    /* --color-txt-hover: #0068df; */
    /* 00A1E4 */
    --color-txt-hover: #0167ff;
    --color-txt-hover-1: #0253b1c7;
    --color-txt-hover-2: #023570;
    --color-txt-hover-3: #0d2d52cb;
    --color-txt-hover-4: #0253b1c7;
    --bg-dark-metal-4-hover: #0f151df8;
    --bg-dark-metal-5-hover: #ffffffdc;

    /* --off-canvas-min-width-df: 36vh; */
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 1.8vh;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-txt-hover);
    border-radius: 1px;
}

::-webkit-scrollbar-track {
    background-color: var(--bg-dark-metal-4);
}


/* ? Diseño Boton */

.content-btn {
    margin: 10px 0px;
}


button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-txt-hover-4);
    /* background: var(--color-txt-hover-2); */
    box-shadow: 0px 6px 24px 0px #00000033;
    overflow: hidden;
    border: none;
    border-radius: 0.1rem;
}

button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: var(--bg-dark-metal-5);
    /* border: 0.5px solid var(--color-txt-hover);     */
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
    border-radius: 0.1rem;    
}

button:hover{
    transition: 0.3s ease-in-out all;
    transform: scale(1.05);
}

button:not(:hover){
    transition: 0.3s ease-in-out all;
    transform: scale(1);
}

button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

button a {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 14px 20px;
    color: var(--txt-color-light);
    letter-spacing: 0.2em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
    font-size: small !important;
    font-weight: bold;
}

/* ? End Diseño Boton */

hr {
    border: 0.15rem solid var(--color-txt-hover-4) !important;
    border-radius: 0.1rem;
}

.hidden {
    display: none !important;
}

.block {
    display: block !important;
}

.txt-blue{
    color: var(--color-txt-hover);
    filter: drop-shadow(0px 0px 8px #00050ac7);
}

.txt-blue-web{
    color: #4690ff;
}
