* {
    color: white;
}

.home,
.experience {
    position: relative;
    overflow-x: hidden;
}

.home {
    min-height: 100vh;    
    background-image: url("../../../assets/img/backgrounds/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.education{
    background: radial-gradient(100% 225% at 100% 0%, #FF0000 0%, #000000 100%), linear-gradient(236deg, #00C2FF 0%, #000000 100%), linear-gradient(135deg, #CDFFEB 0%, #CDFFEB 36%, #009F9D 36%, #009F9D 60%, #07456F 60%, #07456F 67%, #0F0A3C 67%, #0F0A3C 100%);
    background-blend-mode: overlay, hard-light, normal;
}

.contact {
    padding-top: 15px;
    padding-bottom: 15px;
    background-image: url("../../../assets/img/backgrounds/Test/bg15.jpg");
    background-repeat: no-repeat;
    background-size: cover;     
}

.skills {
    min-height: 100vh;
    background-image: url("../../../assets/img/backgrounds/Test/bg9.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
}

.footer{
    background: #0a0a0a;
}


.about,
.experience,
.certificate
{
    background: #12121f;
}


/* Desktop */
@media screen and (min-width: 1024px) {
    .home {
        min-width: auto;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .home {
        min-width: auto;
    }
}

/* Smartphone */
@media screen and (max-width: 767px) {
    .home {
        min-width: auto;
        min-height: auto;
    }
}