<div id="menu-phone" class="menu-phone" *ngIf="auth.languajeSelect == 'es' ? changeLanguaje() : changeLanguaje()">
  <nav class="navbar navbar-expand-lg" aria-label="First navbar example">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01"
        aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa-solid fa-bars"></i>
        </button>

      <div class="pb-3">
        <app-languajes></app-languajes>
      </div>

      <div class="collapse navbar-collapse" id="navbarsExample01" (click)="viewNav()" >
        <app-section-body></app-section-body>       
      </div>
    </div>
  </nav>
</div>


<div class="body">
  <!-- HOME -->
  <div class="home">
    <div id="home"></div>
    <app-home id="homeHref"></app-home>
  </div>


  <!-- ABOUT ME -->
  <div class="about">
    <app-about id="about"></app-about>
  </div>


  <!-- PROJECTS -->
  <div class="project">
    <app-project id="project"></app-project>
  </div>


  <!-- EXPERIENCE -->
  <div class="experience">
    <app-experience id="experience"></app-experience>
  </div>

  <!-- EDUCATION -->
  <div class="education">
    <!-- <app-education id="education"></app-education> -->
  </div>

  <!-- SKILLS -->
  <div class="skills">
    <app-skills id="skills"></app-skills>
  </div>

  <!-- CERTIFICATES -->
  <div class="certificate">
    <app-certificates id="certificate"></app-certificates>
  </div>

  <!-- CONTACT -->
  <div class="contact">
    <app-contact id="contact"></app-contact>
  </div>
</div>

<!-- <div class="footer">
  <app-footer-section-right id="footer"></app-footer-section-right>
</div> -->


<a href="https://bit.ly/WhatsappBalderramaRochaJhossymar" target="_blank" title="contactarse por whatsapp">
  <div id="icon-wsp" class="icon-wsp">
    <i class="fa-brands fa-whatsapp"></i>
  </div>
</a>

<div id="icon-up" class="icon-up">
  <a href="#home" class="back-to-top">
    <span>
      <svg xmlns="http://www.w3.org/2000/svg" width="2.4rem" height="2.8rem" fill="currentColor"
        class="bi bi-arrow-up-short" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z" />
      </svg>
    </span>
  </a>
</div>