<div class="menu-phone">
  <nav class="navbar navbar-dark bg-dark" aria-label="First navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Mí Portafolio</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarsExample01"
        aria-controls="navbarsExample01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample01">
        <app-section-body></app-section-body>
        <div class="languajes" align="right">
          <p class="text-languajes">
            <a id="enPhone" (click)="selectlanguaje('en')">EN</a> 
            / 
            <a id="esPhone" (click)="selectlanguaje('es')">ES</a>            
          </p>
        </div>
      </div>
    </div>
  </nav>
</div>

<div class="home">
  <div id="home"></div>
  <app-home id="homeHref"></app-home>
</div>

<div class="about">
  <app-about id="about"></app-about>
</div>

<div class="education">
  <app-education id="education"></app-education>
</div>

<div class="experience">
  <app-experience id="experience"></app-experience>
</div>

<div class="skills">
  <app-skills id="skills"></app-skills>
</div>

<!-- <div class="experience">
  <app-skills-slider id="skills-slider"></app-skills-slider>
</div> -->

<div class="certificate">
  <app-certificates id="certificate"></app-certificates>
</div>

<div class="contact">
  <app-contact id="contact"></app-contact>
</div>

<div class="footer">
  <app-footer-section-right id="footer"></app-footer-section-right>
</div>
